# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.CityAppLSLN.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Work\Projects\azure-cqrs-dapr\src\CityAppLSLN\.idea\.idea.CityAppLSLN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
